global
    daemon

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend https_in
    bind *:8443

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    acl blocked req.ssl_sni -m end -i -f /etc/fwPi/data/deny_domain_set.txt
    tcp-request content reject if blocked

    default_backend https_out

backend https_out
    server internet 0.0.0.0:443